body{
max-width: 80%;
display: flex;
}
#image_field {
  min-width: 500px;
  min-height: 500px;
  border-style: dotted;
  height: 500px;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  float: left;
}


.circles {
  border-radius: 250px;
  background: white;
  z-index: 0;
  position: absolute;
}


#circle_images {
  z-index: 4;
  position: absolute;
  top: 0px;
  left: 0px;
}

#image_field_text {
  z-index: 100;
}

.text_circle {
  position: absolute;
  color: white;
    z-index: 100;
}



#mini_images_field {
  display: flex;
  max-width: 500px;
  flex-wrap: wrap;
  flex-direction: row;
  height:fit-content;
  border-style: dotted;
}



#controll_image_size {
  border-style: dotted;
  float: left;
}

.mini_images_div {
  max-width: 75px;
  max-height: 75px;
  height: 75px;
  width: 75px;
  position: relative;
  border-style: dashed;
}

.mini_images {
  position: absolute;
}

.max_images {
  position: absolute;
}

#controll_field {
  border-style: dotted;
  display: contents;
}
#text_inputs div{
display: flex;
}
#text_inputs div input{
width: 150px;
}
